@font-face {
  font-family: "HelveticaNeueLTProLt";
  src: url("../webfonts/HelveticaNeueLTProLt.otf");
}
:target {
  scroll-margin-top: 80px;
}

.fancybox__container {
  z-index: 1999;
}

.fancybox__track,
.fancybox__content,
.carousel__track {
  direction: ltr !important;
}

* {
  margin: 0;
  padding: 0;
  line-height: 32px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  direction: rtl;
  -webkit-tap-highlight-color: transparent;
  font-family: "HelveticaNeueLTProLt";
}

body {
  overflow-x: hidden;
  position: relative;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background: #d61842;
  height: 300px;
}

.header {
  width: 100%;
  height: 80px;
  position: sticky;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 99999;
}
.header .container {
  height: 80px;
}
.header .container .logo {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .container .logo img {
  max-height: 54px;
}
.header .container .nav-links {
  height: 100%;
}
@media (max-width: 768px) {
  .header .container .nav-links {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    padding: 32px 0 0;
    gap: 16px;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
    right: -60%;
    top: 80px;
    width: 60%;
    height: calc(100vh - 80px);
    background-color: #fff;
  }
  .header .container .nav-links.showing {
    right: 0;
  }
  .header .container .nav-links ul {
    flex-direction: column;
  }
  .header .container .nav-links ul .nav-link {
    height: 70px !important;
  }
}
.header .container .nav-links ul {
  display: flex;
  height: 100%;
}
@media (max-width: 768px) {
  .header .container .nav-links ul {
    height: auto;
    align-items: flex-start;
  }
}
.header .container .nav-links ul .nav-link {
  height: 100%;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .container .nav-links ul .nav-link a {
  color: #000000;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.header .container .nav-links ul .nav-link a:hover, .header .container .nav-links ul .nav-link a.active {
  color: #d61842;
}
.header .container .nav-links ul .nav-link a:hover::after, .header .container .nav-links ul .nav-link a.active::after {
  width: 100%;
}
.header .container .nav-links ul .nav-link a::after {
  transition: all 0.3s ease-in-out;
  content: "";
  background: #d61842;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
}
.header .container .social {
  display: flex;
  gap: 16px;
}
.header .container .social.sm-screens {
  display: none;
}
@media (max-width: 768px) {
  .header .container .social.sm-screens {
    display: flex;
    padding: 0 16px;
  }
}
.header .container .social li {
  width: 40px;
}
.header .container .social li a {
  transition: all 0.3s ease-in-out;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #777;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777;
}
.header .container .social li:hover a {
  border-color: #d61842;
  color: #d61842;
}
@media (max-width: 768px) {
  .header .container .social {
    flex-direction: row !important;
    height: 40px !important;
  }
  .header .container .social.xl-screens {
    display: none;
  }
}
.header .btn {
  border-radius: 8px;
  background-image: linear-gradient(-270deg, #9a112f 13.9%, #d61842 75.76%);
  padding: 6px 12px;
  color: #fff;
  font-size: 14px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .btn i {
  font-size: 18px;
  transform: scale(-1);
}
.header .toogler {
  display: none;
  width: 45px;
}
@media (max-width: 768px) {
  .header .toogler {
    display: block;
  }
}

.content {
  width: 100%;
}
.content .hero-section .swiper {
  display: flex;
}
.content .hero-section .swiper .swiper-slide {
  width: 100%;
}
.content .hero-section .swiper .swiper-slide img {
  width: 100%;
  aspect-ratio: 3/2;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.content .hero-section .swiper .swiper-pagination-bullet {
  background: #d61842;
}
.content .about .about-description {
  padding-left: 16px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.content .about .about-description h2 {
  color: #000000;
  margin-bottom: 16px;
  font-size: 26px;
}
.content .about .about-description h2 span {
  background-image: linear-gradient(270deg, #071633 13.9%, #278867 75.76%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content .about .about-description p {
  margin-top: 8px;
  font-size: 15px;
  line-height: 26px;
  color: #777777;
}
.content .about .about-description ul li {
  margin-bottom: 8px;
  display: flex;
  gap: 8px;
}
.content .about .about-description ul li span {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #d61842;
  border-radius: 50%;
}
.content .about .about-description ul li span i {
  color: #fff;
}
.content .about .img {
  width: 100%;
  position: relative;
}
@media (max-width: 576px) {
  .content .about .img {
    margin-top: 32px;
  }
}
.content .about .img img {
  max-width: 100%;
  border-radius: 24px;
}
.content .about .img .thumb {
  background: #fff;
  position: absolute;
  padding: 32px;
  bottom: -42px;
  left: -42px;
  max-width: 260px;
  z-index: 999;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px;
  border-radius: 24px;
}
@media screen and (max-width: 768px) {
  .content .about .img .thumb {
    left: 50%;
    transform: translateX(-50%);
    width: 240px;
    bottom: -70px;
  }
}
.content .about .img .thumb img {
  max-height: 48px;
}
.content .about .img .thumb p {
  font-size: 14px;
  color: #d61842;
  margin: 0;
  line-height: 20px;
}
.content .about .img .thumb h6 {
  font-size: 18px;
  text-align: center;
  color: #000000;
  margin: 0;
}
.content .features {
  background: #fffbfc;
  margin: 0 0 80px;
  padding: 60px 0;
}
.content .features .statics-card {
  box-shadow: rgba(0, 0, 0, 0.05) -5px 6px 20px 0px;
  padding: 32px 16px;
  border-radius: 16px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.content .features .statics-card img {
  max-height: 64px;
  margin-bottom: 16px;
}
.content .features .statics-card h4 {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  margin: 0;
  color: #000000;
}
.content .features .statics-card p {
  color: #d61842;
  margin: 0;
  font-weight: 500;
}
.content .appImgs {
  padding: 70px 0;
  position: relative;
}
.content .appImgs .swiper {
  width: 100%;
  padding: 30px 0;
  position: relative;
  display: flex;
}
.content .appImgs .swiper .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 234px;
  height: 507px;
  position: relative;
}
@media (max-width: 768px) {
  .content .appImgs .swiper .swiper-slide {
    width: 175.5px;
    height: 380px;
  }
}
.content .appImgs .swiper .swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 16px;
}
.content .appImgs .swiper .frame {
  width: 267px;
  height: 514px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
@media (max-width: 768px) {
  .content .appImgs .swiper .frame {
    width: 202.5px;
    height: 401px;
  }
}
.content .appImgs .swiper-wrapper {
  height: auto;
}
.content .appImgs .swiper-3d .swiper-slide-shadow,
.content .appImgs .swiper-3d .swiper-slide-shadow-bottom,
.content .appImgs .swiper-3d .swiper-slide-shadow-left,
.content .appImgs .swiper-3d .swiper-slide-shadow-right,
.content .appImgs .swiper-3d .swiper-slide-shadow-top {
  border-radius: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.062745098);
  border: 4px solid #fff;
}
.content .appImgs .swiper-3d .swiper-slide-shadow-left {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}
.content .appImgs .swiper-3d .swiper-slide-shadow-right {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}
.content .how {
  padding: 80px 0;
}
.content .how .sectionTitle {
  margin-bottom: 48px !important;
}
.content .how .taps-wrapper .step {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 16px;
  padding-left: 30px;
}
.content .how .taps-wrapper .step .icon {
  background: #fffbfc;
  width: 70px;
  height: 60px;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #d61842;
  font-size: 22px;
}
.content .how .taps-wrapper .step .icon img {
  max-height: 34px;
}
.content .how .taps-wrapper .step h6 {
  margin: 0;
  color: #000000;
  font-weight: 600;
}
.content .how .taps-wrapper .step p {
  margin: 0;
  color: #777;
  font-size: 14px;
  line-height: 24px;
}
.content .how .circle {
  width: 500px;
  aspect-ratio: 1/1;
  background: #d61842;
  border-radius: 50%;
  position: relative;
}
@media (max-width: 450px) {
  .content .how .circle {
    width: 350px;
  }
}
.content .how .circle .img1 {
  position: absolute;
  max-height: 430px;
  transform: rotate(22deg);
  bottom: -20px;
  right: 28px;
}
@media (max-width: 450px) {
  .content .how .circle .img1 {
    max-height: 300px;
  }
}
.content .how .circle .img2 {
  position: absolute;
  max-height: 340px;
  transform: rotate(-22deg);
  top: -40px;
  left: 40px;
}
@media (max-width: 450px) {
  .content .how .circle .img2 {
    max-height: 220px;
  }
}
.content .how .circle .legend {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .content .how .imgs-wrap {
    margin-top: 60px;
  }
}
.content .faq {
  padding: 60px 0;
}
.content .faq h3 {
  color: #000000;
  font-weight: 600;
  margin-bottom: 32px;
  font-size: 28px;
}
@media (max-width: 768px) {
  .content .faq h3 {
    text-align: center;
  }
}
.content .faq img {
  max-width: 100%;
}
.content .contact-us {
  padding: 70px 0;
  position: relative;
  background: #fffbfc;
}
.content .contact-us .map-area {
  margin-top: 60px;
  padding: 0 30px;
}
.content .contact-us form {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.content .contact-us form input,
.content .contact-us form textarea {
  border: none;
  background: none;
  outline: none;
  background: #ffffff;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 14px;
  color: #000000;
  direction: rtl;
  border: 1px solid #f4f4f4;
}
.content .contact-us form button {
  width: 120px;
  border: none;
  background: none;
  outline: none;
  background: #d61842;
  color: #fff;
  align-self: flex-end;
  height: 40px;
  margin-top: 16px;
  border-radius: 8px;
}
.content .contact-us .map-area {
  padding: 0 24px;
}
@media (max-width: 768px) {
  .content .contact-us .map-area {
    margin-top: 40px;
  }
}
.content .contact-us .img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 16px;
  -o-object-position: center;
     object-position: center;
}
.content .download-app {
  width: 100%;
  padding: 70px 0;
}
.content .download-app .mouckups {
  margin-top: 20px;
  aspect-ratio: 1/1;
  width: 100%;
  max-height: 600px;
  position: relative;
}
.content .download-app .mouckups #center {
  max-height: 574px;
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 9;
  transform: translateX(-50%);
}
@media (max-width: 576px) {
  .content .download-app .mouckups #center {
    max-height: -moz-fit-content;
    max-height: fit-content;
    max-width: 50%;
  }
}
.content .download-app .mouckups #right {
  position: absolute;
  left: 85%;
  bottom: 0;
  max-height: 450px;
  transform: translateX(-85%) rotate(24deg);
}
@media (max-width: 768px) {
  .content .download-app .mouckups #right {
    transform-origin: 70%;
    left: 100%;
    transform: translateX(-100%) rotate(30deg);
  }
}
@media (max-width: 576px) {
  .content .download-app .mouckups #right {
    transform: translateX(-100%) rotate(5deg);
    max-width: 40%;
  }
}
.content .download-app .mouckups #left {
  position: absolute;
  left: 15%;
  bottom: 0;
  max-height: 450px;
  transform: translateX(-15%) rotate(-24deg);
}
@media (max-width: 768px) {
  .content .download-app .mouckups #left {
    transform-origin: 32%;
    left: 0;
    transform: translateX(0) rotate(-30deg);
  }
}
@media (max-width: 576px) {
  .content .download-app .mouckups #left {
    transform: translateX(0%) rotate(-5deg);
    max-width: 40%;
  }
}

footer {
  padding: 40px 0;
  background: #fffbfc;
}
footer .footer {
  gap: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 576px) {
  footer .footer {
    height: 200px;
    flex-direction: column;
    justify-content: flex-start;
  }
}
footer .footer .logo img {
  max-height: 60px;
}
footer .footer .social {
  display: flex;
  gap: 24px;
}
footer .footer .social a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  border: 1px solid #d61842;
}
footer .footer .social a i {
  color: #d61842;
  font-size: 15px;
  transition: 0.3s ease-in-out;
}
footer .footer .social a:hover {
  border-color: #071633;
}
footer .footer .social a:hover i {
  color: #071633;
}
footer .copy p {
  color: #000000;
  margin: 0;
  display: block;
  text-align: center;
}
footer .copy p span {
  color: #d61842;
}
footer .copy a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  color: #0da166;
}
footer .copy a img {
  max-height: 20px;
}
@media (max-width: 768px) {
  footer .copy {
    position: absolute;
    bottom: 0;
  }
}

.sectionTitle {
  text-align: center;
  margin-bottom: 16px;
}
.sectionTitle h2 {
  text-transform: uppercase;
  color: #000000;
  font-size: 28px;
  font-weight: bold;
}
.sectionTitle p {
  text-align: center;
  color: #777;
  width: min(100% - 24px, 500px);
  margin: auto;
  line-height: 1.2;
  font-size: 14px;
}

.layer {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 80px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3137254902), rgba(0, 0, 0, 0.3137254902));
  z-index: 3;
  display: none;
}
.layer.show {
  display: block;
}/*# sourceMappingURL=style.css.map */